<form action="/teams/<%= @team_players.id %>/players/new" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>New Player Information:</p>
  Name: <input type='text' name="Name"/><br/>
  Birthplace:<input type='text' name="Birthplace"/><br/>
  League Award Winner: <input type='text' name="League Award Winner"/><br/>
  Jersey Number: <input type='number' name="Jersey Number"/><br/>
  Position: <input type='text' name="Position"/><br/>
  <input type='submit' value = "Create New Player"/>
</form>    